
/* --multi-colored: #ff4545, #00ff99, #006aff, #ff0095, #ff4545;
   --single-colored: transparent, #9660f9; */


@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.border-animation {
    position: relative;
    /* border: 1px solid #3b2b88; */
    border-radius: 10px;
    background-color: black;
}

.border-animation::after,
.border-animation::before {
    content: '';
    position: absolute;
    height: calc(100% + 6px); /* Parent height + 6px (3px per side) */
    width: calc(100% + 6px);  /* Parent width + 6px (3px per side) */
    background-image: conic-gradient(from var(--angle), transparent 80%, #9660f9);
    top: -3px; /* Offset by -3px to center */
    left: -3px; /* Offset by -3px to center */
    z-index: -1;
    border-radius: 10px;
    animation: spin 5s linear infinite;
}

.border-animation::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}